@import "base";

#site-head {
    background-image: url(/images/cover.jpg);
}

img {
    max-width: 100%;
}

.author {
   font-family: "Open Sans",sans-serif;
   display: inline-block;

  img {
    float: left;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .vcard {
    color: #9EABB3;
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    float: left;
  }
}
