{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if post.author_email %}
  {% assign author_email = post.author_email %}
{% elsif page.author_email %}
  {% assign author_email = page.author_email %}
{% else %}
  {% assign author_email = site.author_email %}
{% endif %}

{% if author %}
  <img src='http://www.gravatar.com/avatar/{{ author_email | md5 }}'/>
  <span class="byline vcard">  <span class="fn">{{ author }}</span></span>
{% endif %}
